body > .content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}

body > .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

